<div class="container-fluid" style="height:100%">
  <div class="row-fluid" style="height:100%">
    <div class="span9" style="height:100%" id="map-canvas"></div>
    <div class="span3" style="height:100%" id="map-info"</div>
      <h2>Stats</h2>
      <strong>Current location:</strong>
      <p><%= @latest_coordinate.formatted_location %></p>
      <strong>Altitude:</strong>
      <p><%= @latest_coordinate.altitude.to_s + " meters" %></p>
      <strong>Timestamp:</strong>
      <p><%= @latest_coordinate.formatted_gps_timestamp %></p>
      </br>
      <% @unique_dates.each do |date| %>
        <p><%= link_to date, coordinates_path(date: date) %></p>
      <% end %>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
  map = new Map(<%= @coordinate_array.to_json %>);
  map.initialize();
</script>
